.score {
    height: 70px;
    flex: 0.5;
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 40px;
    border: solid 1px var(--primary);
    border-radius: 5px;

    .score-display {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    .true-icon {
        color: green;
        font-size: 25px;
    }

    .false-icon {
        color: red;
        font-size: 25px;
    }
}