.setup {    
    width: 400px;
    background: white;
    border: solid 4px var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    .arrow {
        margin-top: auto;
        cursor: pointer;
        font-size: 30px;
        color: var(--primary);
    }
}