.theme-select {
    position: relative;

    ul {
        position: absolute;
        right: 30px;
        border: solid var(--primary);
        padding: 15px 0;
        border-radius: 5px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: start;

        li {
            z-index: 1;
            cursor: pointer;
            padding: 10px 25px;
            color: var(--primary);
            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: start;

            &:hover {
                background: rgb(253, 246, 246);
            }

            img {
                width: 20px;
            }
        }


    }
}

