.main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    .display {
        width: 300px;
        height: 200px;
        border: 4px var(--main-violet) solid;
        border-radius: 8px;
        background: white;
        font-size: 60px;
        color: #8d59fe;
        display: flex;
        .num {
            margin: auto;
        }
        img {
            margin: auto;
            width: 50%;
        }
    }
    .start-button {
        border: none;
        outline: none;
        margin-top: 5px;
        background: var(--main-violet);
        border-radius: 5px;
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 10px ;
        cursor: pointer;
        &:focus {
            border: solid white 1px;
        }
    }

    .result {
        width: 40%;
    }

    .form {   
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
        &>*{
            width: 120px;
        }
        .submit-button {
            color: var(--main-violet);
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
    .display-array {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

}

.main.blue {
    .display {
        border: 4px var(--main-blue) solid;
        // color: #8d59fe;
    }
    .start-button {
        background: var(--main-blue);
    }
    .form {
        .submit-button {
            color: var(--main-blue);
        }
    }
}