nav {
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    h1 {
        font-size: 30px;
    }
    .global-settings {
        
        display: flex;
        align-items: center;
        gap: 50px;
        .icon {
            font-size: 25px;
            cursor: pointer;
        }
    }
}
