.app {
  height: 100vh;
  background-color: var(--bg);

  .container {
    display: flex;
    padding: 160px 0;
    position: relative;
  }   
}

.app.minecraft {
  background-image: url('./img/minecraft.jpg');
  background-position: left; 
}
