@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  user-select: none;
}

:root {
  --bg: rgb(192, 228, 236);
  --primary: #06a8cd;
}

.css-1jwvgpz-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--primary);
}

.Mui-focused .MuiOutlinedInput-notchedOutline.MuiOutlinedInput-notchedOutline {
  border-color: var(--primary);
}