@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  user-select: none;
}

:root {
  --bg-violet: rgb(254, 201, 250);
  --main-violet: #ba68c8;
  --bg-blue: rgb(192, 228, 236);
  --main-blue: #06a8cd;
}


