@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

:root {
  --bg: rgb(254, 201, 250);
  --main: #ba68c8;
}

body {
  border: solid;
  /* display: flex; */
}
