.settings {
    position: absolute;
    left: 200px;
    top: 0px;
    border: solid 1px var(--primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 40px;
    .sound {
        cursor: pointer;
        color: var(--primary);
        margin-right: 30px;

        .sound-icon {
            font-size: 30px;
        }
    }

    .select {
        width: 120px;
    }


}

